<mat-card class="card">
  <img [src]="movie.Poster | defaultimage" class="card-img-top" [alt]="movie.Title">
  <div class="card-body">
    <h5 class="card-title">
      {{ movie.Title }}
      <span class="badge rounded-pill text-bg-primary">
        {{ movie.Type | uppercase }}
      </span>
    </h5>
    <p class="card-text">
      {{ movie.Title }} is a {{ movie.Type }} that was released in {{ movie.Year }}
    </p>
    <a routerLink="/movie-detail" [queryParams]="{ movieId: movie.imdbID }" mat-raised-button class="btn" color="primary">
      Learn More
    </a>
  </div>
</mat-card>
