/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/mixins/breakpoints.scss";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Sofia Sans", "Helvetica Neue", sans-serif;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e0d7fe),
    color-stop(53%, #efdaf6),
    to(#fdf3e9)
  );
  background: linear-gradient(90deg, #e0d7fe 0, #efdaf6 53%, #fdf3e9 100%);
}

.badge {
  margin: 5px 5px 0 0;
}
